<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vegetable APIs</title>
</head>
<body>
	<div th:switch="${vegetables}">
    	<h2 th:case="null">No vegetables yet!</h2>
        <div th:case="*">
            <h2>Vegetables</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>&#9;
                        <th>Price</th>&#9;
                        <th>Edit</th>&#9;
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                	<tr th:each="veg : ${vegetables}">
                    	<td th:text="${veg.name}"></td>&#9;
                    	<td th:text="${veg.price}"></td>&#9;
                    	<td><a th:href="@{/vegetable/edit/{id}(id=${veg.id})}">Edit</a></td> &#9;
                    	<td><a th:href="@{/vegetable/delete/{id}(id=${veg.id})}">Delete</a></td>
               		</tr>
            	</tbody>
        	</table>
    	</div>   
		<p><a href="/addVeg">Add Vegetables</a></p>  
	</div>
</body>
</html>